[package]
name = "fluminurs"
version = "1.1.6"
description = "A client in Rust to access the reverse-engineered LumiNUS API"
authors = ["Julius Putra Tanu Setiaji <indocomsoft@gmail.com>"]
edition = "2018"
repository = "http://github.com/indocomsoft/fluminurs"
readme = "README.md"
license = "MIT"

[profile.release]
lto = true
panic = 'abort'
opt-level = 'z'
codegen-units = 1

[dependencies]
ammonia = "3.1.0"
bitflags = "1.2.1"
chrono = "0.4.11"
clap = "2.33.0"
futures-util = "0.3"
htmlescape = "0.3.1"
rand = "0.7.3"
reqwest = { version = "0.10.4", features = ["cookies", "json"] }
rpassword = "4.0.5"
sanitize-filename = "0.2.1"
serde = { version = "1.0.106", features = ["derive"] }
serde_json = "1.0.51"
serde_urlencoded = "0.6"
tokio = { version = "0.2.16", features = ["full"] }
