[package]
name = "fluminurs"
version = "0.2.3"
description = "A client in Rust to access the reverse-engineered LumiNUS API"
authors = ["Julius Putra Tanu Setiaji <indocomsoft@gmail.com>"]
edition = "2018"
repository = "http://github.com/indocomsoft/fluminurs"
readme = "README.md"
license = "MIT"

[profile.release]
lto = true
panic = 'abort'
opt-level = 'z'
codegen-units = 1

[dependencies]
ammonia = "3.0.0"
clap = "2.33.0"
htmlescape = "0.3.1"
rand = "0.7.0"
reqwest = "0.9.20"
rpassword = "4.0.1"
sanitize-filename = "0.2.1"
serde = { version = "1.0.99", features = ["derive"] }
serde_json = "1.0.40"
url = "1.7.2"
